body {
     background-color: MediumSeaGreen;
}

h1 {
   color: black;
   text-align: center;
   font-family: impact;
}

h2 {
   color: #00008B;
}
   
p {
   color: black;
   font-family: Comic Sans MS;'
}

.border1 {
   border-style: ridge;
   border-width: 8px;
   border-color: blue;
}


.border2 {
   border-style: dotted;
   border-width: 8px;
   border-color: green;
}

.border3 {
   border-style: solid;
   border-width: 6px;
   border-color: orange;

.center {
   text-align: center;
}
   