h1 {
   color: black;
   text-align: center;
   font-family: impact;
}

h2 {
   color: #00008B;
   text-align: center;
   

p {
   color: black;
   font-family: Comic Sans MS;
}

.center {
   color: black;
   text-align center;
}
   