body {
     background-color: green;
}

h1 {
   color: black;
   text-align: center;
   font-family: 'Micro 5';
   background-color: powderblue;
   text-shadow: 2px 2px 3px dodgerblue;
}

h2 {
   color: #FF0000;
   font-family: 'Courier New', monospace;
   text-align: center;
   text-shadow: 2px 2px 3px mediumseagreen;
}

h3 {
   color: black;
   font-family: "Micro 5";
   font-size: 22px;
   text-align: center;
   text-shadow: 2px 2px 3px lightgrey;
}
   
p {
   color: darkblue;
   font-family: Comic Sans MS;
}

marquee {
   color: darkblue;
   font-family: Comic Sans MS;
}

a:hover {
  color: lightgrey;
}

a {
  font-family: Comic Sans MS;
  color: darkblue;
  
}

.money {
  background-image: url("https://lukehdplays.neocities.org/money.jpeg");
  color: lightblue;
  font-family: Comic Sans MS;
}

div {
  background-color: white;
  padding: 50px;
  margin: 10px;
  border: 8px solid darkblue;
  max-width: 550px;
  float: left;
  outline-color: orange;
  outline-style: dotted;
}

div2 {
  background-color: dodgerblue;
  padding: 10px;
  margin: 10px;
  border: 8px ridge dodgerblue;
  max-width: 200px;
  float: right;
  outline-color: orange;
  outline-style: dotted;
}

div3 {
  background-image: url("money.jpeg");
  padding: 50px;
  margin: 10px;
  border: 8px solid darkblue;
  max-width: 50%;
  float: left;
  outline-color: orange;
  outline-style: dotted;
}

div4 {
  padding: 50px;
  margin: 10px;
}
