body {
  background-color: #004AAD;
}

h1 {
  color: white;
  text-align: center;
  background-color: green;
  border: 6px solid darkblue;
  outline: 4px dashed lime;
  font-family: Lucida Console;
  text-shadow: 2px 2px 4px blue
}

h2 {
  color: white;
  text-align: center;
  font-family: Courier New;
  text-shadow: 2px 2px 4px red
}

h3 {
  color: white;
  text-align: center;
  font-family: Arial;
  text-shadow: 1px 1px 2px lightgrey;
}

p {
  color: white;
  text-align: center;
  font-family: Arial;
}

a {
  color: white;
  text-align: center;
  font-family: Arial;
}

li {
  color: white;
  text-align: center;
  font-family: Arial;
}

div {
  background-color: mediumseagreen;
  border: 4px solid darkblue;
  outline: 2px dashed lime;
  float: left;
  padding: 50px;
  margin: 25px;
  max-width: 500px;
}

.bg {
  background-image: url("https://i.pinimg.com/564x/bd/4e/f2/bd4ef20a1ba15381e11c730b696c1d04.jpg");
}

div2 {
  background-color: green;
  border: 4px ridge darkblue;
  outline: 2px dotted lime;
  float: right;
  padding: 5px;
  margin: 25px;
  max-width: 500px;
}