body {
     background-image: url("sky.png");
}

h1 {
   color: white;
   text-align: center;
   font-family: 'Orbitron';
   background-color: red;
   text-shadow: 2px 2px 3px dodgerblue;
}

h2 {
   color: #FF0000;
   font-family: 'Courier New', monospace;
   text-align: center;
   text-shadow: 2px 2px 3px mediumseagreen;
}

h3 {
   color: black;
   font-family: "Micro 5";
   font-size: 22px;
   text-align: center;
   text-shadow: 2px 2px 3px lightgrey;
}
   
p {
   color: darkblue;
   font-family: 'Pixelify Sans';
}

marquee {
   color: darkblue;
   font-family: 'Pixelify Sans';
}

a:hover {
  color: white;
}

a {
  font-family: Comic Sans MS;
  color: darkblue;
  
}

div {
  background-color: blue;
  padding: 50px;
  margin: 10px;
  border: 8px ridge red;
  max-width: 50%;
  outline-color: orange;
  outline-style: dotted;
  float: left;
}

div2 {
  background-color: lightgrey;
  padding: 15px;
  margin: 15px;
  border: 8px dashed dodgerblue;
  max-width: 50%;
  outline-color: orange;
  outline-style: dotted;
  float: right;
}

div3 {
  background-image: url("money.jpeg");
  padding: 50px;
  margin: 10px;
  border: 8px solid darkblue;
  max-width: 50%;
  outline-color: orange;
  outline-style: dotted;
}